<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">









<mapper namespace="com.smhrd.model.MemberDAO">

	<insert id="join" parameterType="com.smhrd.model.MemberDTO">

		INSERT INTO TB_USER (

		EMAIL,

		PW,

		NAME,

		NICK,

		BIRTHDATE,

		GENDER,

		JOB,

		PHONE,

		USER_TYPE,

		CREATE_DT

		) VALUES (

		#{email},

		#{pw},

		#{name},

		#{nick},

		#{birthdate},

		#{gender},

		#{job},

		#{phone},

		#{userType},

		SYSTIMESTAMP

		)

	</insert>

	<!-- 로그인 SQL -->

	<select id="login" parameterType="com.smhrd.model.MemberDTO"

		resultType="com.smhrd.model.MemberDTO">

		SELECT

		EMAIL,

		NAME,

		NICK,

		BIRTHDATE,

		GENDER,

		JOB,

		PHONE,

		USER_TYPE,

		CREATE_DT

		FROM TB_USER

		WHERE EMAIL = #{email} AND PW = #{pw}

	</select>



	<!-- ✅ 이메일로 회원 정보 가져오기 -->

	<select id="getMemberByEmail" parameterType="string"
		resultType="com.smhrd.model.MemberDTO">

		SELECT email, name, phone, job

		FROM TB_USER

		WHERE email = #{email}

	</select>



	<!-- ✅ 전화번호 업데이트 -->

	<update id="updatePhone"
		parameterType="com.smhrd.model.MemberDTO">

		UPDATE TB_USER

		SET phone = #{phone}

		WHERE email = #{email}

	</update>



	<!-- ✅ 비밀번호 업데이트 -->

	<update id="updatePassword"
		parameterType="com.smhrd.model.MemberDTO">

		UPDATE TB_USER

		SET pw = #{pw}

		WHERE email = #{email}

	</update>

	<select id="findBySocialEmail" parameterType="string"
		resultType="com.smhrd.model.MemberDTO">
		SELECT * FROM TB_USER WHERE SOCIAL_LINKED_EMAIL = #{socialEmail}
	</select>

	<update id="linkSocialAccount"
		parameterType="com.smhrd.model.MemberDTO">
		UPDATE TB_USER
		SET SOCIAL_LINKED_EMAIL = #{socialLinkedEmail}, SOCIAL_PROVIDER =
		#{socialProvider}
		WHERE EMAIL = #{email}
	</update>
	<insert id="insertSocialMember"
		parameterType="com.smhrd.model.MemberDTO">
		INSERT INTO TB_USER (EMAIL, NICK, SOCIAL_PROVIDER, CREATE_DT)
		VALUES (#{email}, #{nick}, #{socialProvider}, SYSTIMESTAMP)
	</insert>

	<select id="findByEmail" parameterType="string"
		resultType="com.smhrd.model.MemberDTO">
		SELECT * FROM TB_USER WHERE EMAIL = #{email}
	</select>

	<insert id="insertSocialMember2" parameterType="com.smhrd.model.MemberDTO">
		INSERT INTO TB_USER (EMAIL, NAME, NICK, PW, SOCIAL_PROVIDER,
		SOCIAL_LINKED_EMAIL)
		VALUES (#{email}, #{name}, #{nick}, #{pw}, #{socialProvider},
		#{socialLinkedEmail})
	</insert>

	<update id="updateSocialLink" parameterType="com.smhrd.model.MemberDTO">
		UPDATE TB_USER
		SET SOCIAL_LINKED_EMAIL = #{socialLinkedEmail}, SOCIAL_PROVIDER =
		#{socialProvider}
		WHERE EMAIL = #{email}
	</update>










</mapper> 