@font-face {
    font-family: "HancomUljuCheonjeonriPetroglyph";
    src: url("C:/WINDOWS/FONTS/HANCOMULJUCHEONJEONRIPETROGLYPH.TTF") format("truetype");
}

body {
    font-family: "MyCustomFont", sans-serif;
   
}
/* 메인 컨텐츠 */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #ffe4e1, #ffdab9, #add8e6);
    padding: 120px 20px 100px; /* 네비게이션과 푸터 간격 추가 */
}

/* 버튼 스타일 */
.button-container button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}

/* 프로필 영역 */
.profile-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.profile-container .profile {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.profile-container .profile:hover {
    text-decoration: none;
    color: black;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* 동영상 스타일 */
.video-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

